/* Structure */
table {
  width: 90%;
  margin-left: 100px;
  margin-top: 20px;
  background-color: rgb(245, 224, 198);
  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container{
  margin-top: 20px;
  margin-left: 100px;
}